* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  background: #eee;
  padding: 0.5em;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
}
